.productos .tituloSeccion {
    display: flex;
    justify-content: center;
    padding: 4rem;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #000000;
    text-align: center;
}

.cardsPrd {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}